.header{
    background-color: #004AAD;
    color: white;
}
.navbar-brand{
    color: white;
    font-size: 25pt;
}
.nav-link{
    color: white;
}
.nav-link:hover,
.navbar-brand:hover{
    color: #FF1616;
}
.btn-outline-success{
    border: #FF1616 solid 2px;
    color: #FF1616;
}
.btn-outline-success:hover{
    background-color: #FF1616;
    border: white solid 2px;
    color: white;
}
.fa-bars{
    color: #FF1616;
    font-size: 100px;
}
#sobre{
    margin: auto;
    margin: 100px 50px 50px 100px;
    background-color: #004AAD;
    color: white;
    border-radius: 20px;
    padding: 20px;
}
#sobre h2{
    color: #FF1616;
    text-align: center;
}
#sobre a{
    text-align: center;
    background-color: #004AAD;
    color: white;
    border: white solid 2px;
    font-weight: 600;
}
#sobre a:hover{
    background-color: white;
    color: #004AAD;
    border: #004AAD solid 2px;
}
#sobre p{
    text-align: justify;
}
footer{
    background-color: #004AAD;
    color: white;
    padding: 20px;
}
footer p{
    text-align: center;
}

#planos{
    margin: auto;
    margin: 100px 50px 50px 100px;
    border-radius: 20px;
    padding: 20px;
}

#planos h2,
#agendar h2,
#contatos h2{
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}

#planos .planos{
    display: flex;
}

#planos .planos div{
    margin: 20px;
}

#planos a{
    background-color: #004AAD;
    border: 2px solid white;
    color: white;
}

#planos a:hover{
    background-color: white;
    border: 2px solid #004AAD;
    color: #004AAD;
}


#contatos{
    width: 1200px;
    margin: auto;
}

#contatos .contatos{
    display: flex;
}

#contatos .contatos form{
    width: 500px;
    margin: auto;
}

#contatos .contatos form legend{
    text-align: center;
    margin-bottom: 10px;
}

#contatos .contatos iframe{
    margin-top: 50px;
    margin-bottom: 50px;

}

#contatos button{
    background-color: #004AAD;
    color: #fff;
    margin-top: 10px;
    font-weight: 700;
    size: 20px;
}


footer a{
    text-align: right;
    color: #fff;
}

footer img{
    height: 25px;
    margin: 5px;
}

